{% extends 'base.html.twig' %}

{% block body %}
    <section class="home_banner_area">
        <div class="banner_inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="home_left_img">
                            <img src="front/img/banner/home-left-1.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="banner_content">
                            <h5>This is me</h5>
                            <h2>Jerbi Habib</h2>
                            <p>You will begin to realise why this exercise is called the Dickens Pattern (with reference to the ghost showing Scrooge some different futures)</p>
                            <a class="banner_btn" href="about">Discover Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}